.item-wrapper{
/* display: flex; */
}
.videoslist-item{
display: flex;
margin: 2em 0 0 0;
align-items:center;

}
.video-details{
  
  align-items: center;
  height: auto;
  display: block; 
  margin: 0 0 0 2rem;
}
.video-title{
  font-size: 1.5rem;
}
.video-channel{
  padding-left: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  
}
.video-details,.video-img{
  cursor: pointer;
}



