.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around ;
  background-image: url(./images/nav_bgc.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo {
  width: 180px;
  margin-left: 80px;
  margin-right: 80px;
}

.deco {
  width: 300px;
}
